{
  "singleQuote": false,
  "trailingComma": "none",
  "overrides": [
    { "files": ".nvmrc", "options": { "parser": "yaml" } },
    {
      "files": "*.vue",
      "options": {
        "htmlWhitespaceSensitivity": "ignore",
        "vueIndentScriptAndStyle": true
      }
    }
  ],
  "useTabs": false,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-curly", "prettier-plugin-packagejson"]
}
