{
  "singleQuote": false,
  "trailingComma": "none",
  "overrides": [{ "files": ".nvmrc", "options": { "parser": "yaml" } }],
  "useTabs": true,
  "plugins": ["prettier-plugin-curly", "prettier-plugin-packagejson"]
}
