{
  "singleQuote": false,
  "trailingComma": "es5",
  "overrides": [{ "files": ".nvmrc", "options": { "parser": "yaml" } }],
  "useTabs": false,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-curly", "prettier-plugin-packagejson"]
}
